<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path("cinema_seats.jpg") %>');">
  <div class="container">
    <h1>Connoisseur Film playlist</h1>
  </div>
</div>

