 <%= render 'lists/banner' %>

<div class="container mt-3">
  <div class="cards">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do  %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://image.pollinations.ai/prompt/<%= list.name %>);">
          <%= list.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
